body {
    overflow: hidden;
    background-color: black;
    margin: 0px;
}

.content {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-template-rows:  50px 1fr 50px;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: top;
}

.row1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    overflow: hidden;
    /* background-image: url('../images/stanleyparkaerial.jpg'); */
    background-color: rgb(41, 179, 14);
}

.topbar {
    display: grid;
    grid-template-rows: 40px;
    padding: 5px;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}

.topbar > div {
    background: #803de4;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 24px;
    text-align: center;
}

.sidebar {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    overflow: hidden;
    background-color: teal;

}
.row2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    overflow: hidden;
    overflow-y: auto;
}

.inside {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin: 2rem;
}

.inside > div {
    background: #803de4;
    padding: 1.5rem;
    border-radius: 1rem;
}

.row3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    overflow: hidden;
    background-color: steelblue;
}
